<p-card>
  <form [formGroup]="formulario">
    <div class="flex flex-col gap-8">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="nome"
          formControlName="nome"
          autocomplete="off"
          class="w-full"
        />
        <label for="nome">Nome</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input
          pInputText
          id="marca"
          formControlName="marca"
          autocomplete="off"
          class="w-full"
        />
        <label for="marca">Marca</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-inputnumber
          mode="decimal"
          id="quantidade"
          formControlName="quantidade"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          [step]="1"
          [allowEmpty]="false"
          minFractionDigits="0"
          class="w-full"
          [min]="0"
        >
          <ng-template #incrementbuttonicon>
            <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
            <span class="pi pi-minus"></span>
          </ng-template>
        </p-inputnumber>
        <label for="quantidade">Quantidade</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-inputnumber
          mode="decimal"
          locale="pt-BR"
          [minFractionDigits]="2"
          id="valor"
          formControlName="valor"
          autocomplete="off"
          class="w-full"
        />
        <label for="valor">Valor R$</label>
      </p-floatlabel>


      <div class="flex flex-row gap-8 justify-center">
        <p-button
          label="Salvar"
          [raised]="true"
          severity="success"
          (onClick)="salvar()"
          [disabled]="!formulario.valid"
        />
        <p-button
          label="voltar"
          [raised]="true"
          severity="secondary"
          (onClick)="voltar()"
        />
      </div>
    </div>
  </form>
</p-card>
